<div class="container mt-5 pt-5" align="center">
<h1>New Game</h1>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>

  <form action="/score" method="POST" class="form-inline">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <div>
   <label>What is the longest word you can find?</label>
    <div>
      <input type="text" name="word">
    </div>
    <div class="mt-2">
      <input type="submit" value="Submit" class="btn btn-dark">
    </div>
  </div>
  </form>
</div>